.change-log-box{
  height: 150px;
  border: 1px;
}

.change-log-title{
  display: inline-block;
}

.change-log-content{

}

.change-log-date{
  display: inline-block;
}

.change-log-header{
  width: 100%;
}
